rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Perfil do Usuário
    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /chat_messages/{messageId} {
        allow read, write: if isOwner(userId);
      }

      match /meeting_logs/{logId} {
        allow read, write: if isOwner(userId);
      }
    }

    // Coleção Compartilhada de Agendamentos e Reuniões
    match /events/{eventId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isSignedIn();
    }
  }
}